# Hi! This file has secrets in it and is .gitignored!
SECRET_KEY = 'a totally cool secret key'

LDAP_URL = 'ldap.example.com'
DN_STRING = '{}@example.com'
BASE_DN = ''
LDAPTLS_REQCERT = ''
LDAPTLS_CACERT = ''
DB_CONN_STRING = 'sqlite://something'
