body {
	padding-top: 70px;
}

.container-fluid {
    padding: 0 10%;
}

.navbar {
	background-color: #c41200;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.panel-title {
	color: white;
}

.panel--yelp > .panel-heading {
	background-color: #4F4F4F;
}

.header--yelp,
.lunchship-info,
.add-input {
	margin-bottom: 40px;
}

.action-link {
	background-color: #3b65a7;
}

.badge--lunchship {
	background-color: #DAA520;
}

.add-input,
.action-link--sail {
	width: 100%;
}

.add-input:first {
	margin-top: 15px;
}

.action-link--sail {
	font-size: 18px;
}
