{% extends 'base.html' %}

{% block body %}
    <ul>
    {% for msg in get_flashed_messages() %}
        <li>{{ msg }}</li>
    {% endfor %}
    </ul>

    <h1>Current Lunches</h1>
    <ul>
        {% for lunch_ship_presenter in lunch_ship_presenters %}
            <li>
                <p>
                    {% if lunch_ship_presenter.is_captain %}
                        <a href="/edit_ship">Edit</a>
                    {% else %}
                        <a href="/join_ship">Join Ship</a>
                    {% endif %}
                </p>
                {{ lunch_ship_presenter.captain_id }}
                <ul>
                    <li>Created: {{ lunch_ship_presenter.time_created }}</li>
                    <li>Departure: {{ lunch_ship_presenter.departure_time }}</li>
                    <li>Destination: {{ lunch_ship_presenter.destination }}</li>
                    <li>Crew:
                        <ul>
                            {% for crew_member in lunch_ship_presenter.crew %}
                                <li>{{ crew_member }}</li>

                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
