{% extends 'base.html' %}

{% block body %}
    <ul>
    {% for msg in get_flashed_messages() %}
        <li>{{ msg }}</li>
    {% endfor %}
    </ul>

    <h1>Current Lunches</h1>
    <ul>
        {% for sailing_ship in sailing_ships %}
            <li>
                <p>
                    {% if sailing_ship.is_captain %}
                        <a href="/edit_ship">Edit</a>
                    {% else %}
                        <a href="/join_ship">Join Ship</a>
                    {% endif %}
                </p>
                {{ sailing_ship.captain_id }}
                <ul>
                    <li>Created: {{ sailing_ship.time_created }}</li>
                    <li>Departure: {{ sailing_ship.departure_time }}</li>
                    <li>Destination: {{ sailing_ship.destination }}</li>
                    <li>Crew:
                        <ul>
                            {% for crew_member in sailing_ship.crew %}
                                <li>{{ crew_member.sailor_id }}</li>

                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
