<!DOCTYPE html>
<html class="full">
<head>
    <title>Lunch Ship</title>
</head>
<body>
    <!-- Main content of the page is inserted in block body -->
    <nav>
        <ul>
            <li><a href="/all_ships">View All Ships</a></li>
            <li><a href="/new_ship">Add New Ships</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/logout">Log Out</a></li>
            {% else %}
                <li><a href="/">Login</a></li>
            {% endif %}
        </ul>

    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>
