{% extends 'base.html' %}

{% block body %}
    <h1>Most Ships Captained</h1>
    <ol class="list-group">
        {% for count, captain in ships_captained %}
            <li class="list-group-item">
                {{ captain }}: {{ count }}
            </li>
        {% endfor %}
    </ol>
    <h1>Most Ships Crewed</h1>
    <ol class="list-group">
        {% for sailor, count in ships_crewed %}
            <li class="list-group-item">
                {{ sailor }}: {{ count }}
            </li>
        {% endfor %}
    </ol>
    <h1>Biggest Ships</h1>
    <ol class="list-group">
        {% for destination, captain, count in biggest_ships %}
            <li class="list-group-item">
                Sailed to: {{destination}}
            </li>
            <li class="list-group-item">
                Captained by: {{captain}}
            </li>
            <li class="list-group-item">
                Crew size: {{count}}
            </li>
        {% endfor %}
    </ol>
    <h1>Most Popular Destinations</h1>
    <ol class="list-group">
        {% for destination, count in popular_destinations %}
            <li class="list-group-item">
                {{destination}}: {{count}} voyages
            </li>
        {% endfor %}
    </ol>
{% endblock %}
