{% extends 'base.html' %}

{% block body %}
    <h1>Most Ships Captained</h1>
    <ol class="list-group">
        {% for count, captain in ships_captained %}
            <li class="list-group-item">
                {{ captain }}: {{ count }} ships captained
            </li>
        {% endfor %}
    </ol>
    <h1>Most Ships Joined</h1>
    <ol class="list-group">
        {% for sailor, count in ships_crewed %}
            <li class="list-group-item">
                {{ sailor }}: {{ count }} ships joined
            </li>
        {% endfor %}
    </ol>
    <h1>Biggest Ships</h1>
    <ol class="list-group">
        {% for destination, captain, count in biggest_ships %}
            <li class="list-group-item">
                Sailed to: {{destination}}
                <br>
                Captained by: {{captain}}
                <br>
                Crew size: {{count}}
            </li>
        {% endfor %}
    </ol>
    <h1>Most Popular Destinations</h1>
    <ol class="list-group">
        {% for destination, count in popular_destinations %}
            <li class="list-group-item">
                {{destination}}: {{count}} voyages
            </li>
        {% endfor %}
    </ol>
    <h1>Most Solo Voyages</h1>
    <ol class="list-group">
        {% for captain, count in solo_voyages %}
            <li class="list-group-item">
                {{captain}} has been on {{count}} lonely voyages
            </li>
        {% endfor %}
    </ol>
{% endblock %}
