{% extends 'base.html' %}

{% block body %}
    <h1 class='text-center header--yelp'>Davy Jones' Leaderboard</h1>

    <h2>Most Ships Captained</h2>
    <ol class="list-group">
        {% for count, captain in ships_captained %}
            <li class="list-group-item">
                {{ captain }}: {{ count }} ships captained
            </li>
        {% endfor %}
    </ol>
    <h2>Most Ships Joined</h2>
    <ol class="list-group">
        {% for sailor, count in ships_crewed %}
            <li class="list-group-item">
                {{ sailor }}: {{ count }} ships joined
            </li>
        {% endfor %}
    </ol>
    <h2>Biggest Ships</h2>
    <ol class="list-group">
        {% for destination, captain, count in biggest_ships %}
            <li class="list-group-item">
                Sailed to: {{destination}}
                <br>
                Captained by: {{captain}}
                <br>
                Crew size: {{count}}
            </li>
        {% endfor %}
    </ol>
    <h2>Most Popular Destinations</h2>
    <ol class="list-group">
        {% for destination, count in popular_destinations %}
            <li class="list-group-item">
                {{destination}}: {{count}} voyages
            </li>
        {% endfor %}
    </ol>
    <h2>Most Solo Voyages</h2>
    <ol class="list-group">
        {% for captain, count in solo_voyages %}
            <li class="list-group-item">
                {{captain}} has been on {{count}} lonely voyages
            </li>
        {% endfor %}
    </ol>
    <center>
        <img src="/static/img/captain.gif">
    </center>
{% endblock %}
